<section class="beneficios" id="beneficios">
  <div class="vm-container">
    <ul class="beneficios__grid">
      @for (item of beneficios; track item.title) {
        <li class="beneficio">
          <span class="beneficio__icon" aria-hidden="true">
            @switch (item.icon) {
              @case ('tienda') {
                <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" aria-hidden="true">
                  <path d="M3.5 9.5 5 5h14l1.5 4.5"/><path d="M3.5 9.5h17M5 9.5V19a1 1 0 001 1h12a1 1 0 001-1V9.5"/><path d="M9.5 20v-6h5v6"/>
                </svg>
              }
              @case ('seguro') {
                <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" aria-hidden="true">
                  <path d="M12 3 4.5 6v5.5c0 4.7 3.2 8 7.5 9.5 4.3-1.5 7.5-4.8 7.5-9.5V6L12 3z"/><path d="M9 11.8l2.1 2.1 4-4.3"/>
                </svg>
              }
              @case ('reserva') {
                <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" aria-hidden="true">
                  <rect x="3.5" y="5" width="17" height="15" rx="2"/><path d="M3.5 10h17M8 3v4M16 3v4"/><path d="M9.5 15.5l2 2 3.5-3.8"/>
                </svg>
              }
              @case ('atencion') {
                <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" aria-hidden="true">
                  <path d="M4 13a8 8 0 1014.9-4.2"/><path d="M21 3l-4 1 1 4"/><path d="M21 3c-2.5.3-7.4 2.2-10 6-1.3 1.9-1.8 4.6-2 6 1.4-.2 4.1-.7 6-2 .8-.6 1.6-1.4 2.3-2.3"/>
                </svg>
              }
            }
          </span>
          <div class="beneficio__text">
            <h3 class="beneficio__title">{{ item.title }}</h3>
            <p class="beneficio__desc">{{ item.text }}</p>
          </div>
        </li>
      }
    </ul>
  </div>
</section>
